.page {
  max-width: 640px;
  margin: 10px auto 30px auto;}

/********** TABS **********/
.tab-list {
  margin: 0px;
  padding: 0px;}

.tab-list li {
  display: inline-block;
  list-style-type: none;
  background-color: #633E57;
  font-family: 'Jacques Francois', serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
margin-top: 3px;}

.tab-list li a {
  color: #f2f2f2;
  display: block;
  padding: 3px 3px 3px 3px;
  text-decoration: none;}



/********** HOVER STATES **********/
.tab-list li.active, .tab-list li.hover {
  background-color: #e5e5e5;}

.tab-list li.active a, .tab-list li a:hover {
  color: #666;
  background-color: #e5e5e5;}


/********** PANELS **********/
.tab-panel {
  display: none;
  background-color: rgba(255,255,255,.4);
  color: #666;
  min-height: 150px;
  overflow: auto;}

.tab-panel.active {
  display: block;}

.tab-panel p {
  margin: 20px;}
  
/********** TYPOGRAPHY **********/
  
.tabs h2, h3 {
  font-weight: normal;
  margin: 0em;}
.tabs h2 {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  font-size: 230%;
  line-height: 1em;
  padding: 20px 0px 0px 20px;}
.tabs h3 {
  font-size: 90%;
  letter-spacing: 0.2em;}